@using shoptraicay.Models;

<div class="row">
    <div class="col-md-3">
        <div class="cacLoai-all">
            <div id="cacLoaiId" class="cacLoai">
                <i class="fa-solid fa-bars"></i>
                <span class="cacLoai-span">Tất cả các loại</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div id="cacLoaiId_Child">
                <ul>
                    @{
                        foreach (LoaiSP loaisp in Common.GetLoaiSPs())
                        {
                            <li><a href="#@loaisp.maLoai">@loaisp.tenLoai</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="search_header">
            <div class="search_header-cacsp">
                <span>Tất Cả</span>
                <i class="fa-solid fa-chevron-down icon-search-down"></i>
            </div>
            <div class="search_header-bt-input">
                @using (Html.BeginForm("SearchSP", "Search", FormMethod.Post))
                {
                    <input name="search" placeholder="Sản phẩm cần tìm ?" class="search_input" />
                    <button type="submit" class="bt_search">Tìm Kiếm</button>
                }
            </div>
        </div>
        <div class="phone_all">
            <div class="phone-icon">
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="phone-text">
                <h5>037.559.5019</h5>
                <span>Liên hệ hỗ trợ 24/7</span>
            </div>
        </div>
    </div>
</div>
