
@{
    ViewBag.Title = "Liên hệ";
}

<div class="anhbia-hd">
    <img src="~/Assets/Images/anhchitiethang.jpg" />
</div>

<div class="TongQuanLienHe">
    <div class="row">
        <div class="col-md-3">
            <i class="fa-solid fa-phone"></i>
            <h3>Liên Hệ</h3>
            <span>037.559.5019</span>
        </div>
        <div class="col-md-3">
            <i class="fa-solid fa-location-dot"></i>
            <h3>Địa Chỉ</h3>
            <span>An Phú Đông, Q12, TP.HCM</span>
        </div>
        <div class="col-md-3">
            <i class="fa-solid fa-clock"></i>
            <h3>Giờ mở cửa</h3>
            <span>10:00 am to 23:00 pm</span>
        </div>
        <div class="col-md-3">
            <i class="fa-solid fa-envelope"></i>
            <h3>Mail</h3>
            <span>bachsykhang.it@gmail.com</span>
        </div>
    </div>
</div>

