
@{
    ViewBag.Title = "Đăng ký";
}

<div>
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_Slider")
        </div>
        <div class="col-md-6 dangnhap_page-all">
            <div class="dangnhap_page">
                <h3>Đăng Ký</h3>
                <form>
                    <div class="input-group input-dn">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Tài Khoản">
                    </div>
                    <div class="input-group input-dn">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Mật Khẩu">
                    </div>
                    <div class="input-group input-dn">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Nhập Lại Mật Khẩu">
                    </div>
                    <div>
                        <button class="btn btn-info bt-dn">Đăng Ký</button>
                        <button class="btn btn-success bt-dn">@Html.ActionLink("Đăng Nhập","Index","DangNhap")</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3 dangnhap_page-img">
            <img src="~/Assets/Images/bapsu.jpg" />
        </div>
    </div>
</div>
